# Path to your Oh My Zsh installation.
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="crcandy"
zstyle ':omz:update' mode reminder
HIST_STAMPS="dd.mm.yyyy"
plugins=(git)
source $ZSH/oh-my-zsh.sh

source "$HOME/zsh/alias.zsh"

{{ if hasPrefix "REV" .chezmoi.hostname }}

source "$HOME/zsh/rev.zsh"

{{ end }}

export GPG_TTY=$(tty)
export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
export DOCKER_HOST="unix://${HOME}/.colima/docker.sock"

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# brew
eval "$(/opt/homebrew/bin/brew shellenv)"

# SDKMAN
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

# pipx-created paths
export PATH="$PATH:{{ .chezmoi.homeDir }}/Library/Python/3.9/bin"
export PATH="$PATH:{{ .chezmoi.homeDir }}/.local/bin"
export PATH="/Applications/IntelliJ IDEA.app/Contents/MacOS:$PATH"
